<li id="<%= "#{dom_id(book)}_item" %>" class="py-3">
  <%= turbo_frame_tag dom_id(book) do %>
    <div class="flex items-center justify-between">
      <%= link_to book.title, edit_book_path(book) %>

      <%= button_to "Delete", book_path(book), method: :delete%>
    </div>
  <% end %>
</li>
