<div class="mx-auto max-w-3xl mt-24">
  <div class="mb-6">
    <h1 class="font-bold text-4xl">Turbo Books</h1>
  </div>

  <%= render "form", book: Book.new %>

  <div id="books" class="divide-y list-none">
    <%= render @books %>
  </div>
</div>